<header class='welcome-header'>
  <h3>Welcome to Cycling Company</h3>
  <h5>Find new cycling buddies and schedule rides</h5>
</header>
<% if user_signed_in? %>
  <h4 class="ui header">signed in as <%= current_user.email %></h4>
  <ul class="rides-list">
    <%= render partial: 'rides_list', collection: @rides, as: :ride %>
  </ul>
<% end %>

