<nav>
  <% if user_signed_in? %>
    <div class='signed-in'>
      <div class='add-ride'><%= link_to 'Add new ride', new_ride_path %></div>
      <div class='sign-out'><%= link_to 'Sign out', destroy_user_session_path %></div>
    </div>
  <% else %>
    <div class='not-signed-in'>
      <div class='sign-up'><%= link_to 'Sign up', new_user_registration_path %></div>
      <div class='sign-in'><%= link_to 'Sign in', new_user_session_path %></div>
    </div>
  <% end %>
</nav>
